@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;700&display=swap');

:root {
    --primary-color: #b55b4b;
    --secondary-color: black;
    --accent-color: #e7e4e4;
}

body {
    margin: 0;
    font-family: 'Libre Bodoni', serif;;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: [header] 70px auto 1000px 400px ;
}

.navbar {
    grid-column: 1 / 13;
    grid-row: 1 / 1;
    padding: 1em;
    display: grid;
    place-self: stretch;
    position: sticky;
    align-items: center;

    border-bottom: 0.5px solid var(--secondary-color);


    .logo-text {
        font-weight: bold;
        word-spacing: 0.3em;
        color: var(--secondary-color);
        font-size: 1.4em;
        display: block;
    }
    
    .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sub-nav {
            width: 30%;
            margin: 0;
            display: inherit;
            justify-content: space-evenly;
        }

        ul {
            padding: 0;
        }

    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        display: none;   
    }
}


.hero-section {
    grid-column: 1 / 13;
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    

    .container {
        grid-column: 3 / 7;
        align-self: center;
    }

}

.testimonials-section {
    grid-column: 1 / 13;
    grid-row: 3 / 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #F1EDE2;
    align-items: center;

    .container {
        grid-column: 5 / 9;
        display: flex;
        flex-direction: column;
        align-items: center;


        .container {
             display: flex;

             ul {
                display: flex;
                padding: 1em;
                text-align: center;
             }

             li {
                 width: 350px;
                 padding: 4em 6em;
                 margin: 1em 4em;
                 border-radius: 3em;
                 background-color:  #df9e3e;

             }
        }


    }
}


.contact-section {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    background-color: #C9BEA0;

    .container {
        grid-column: 3 / 11;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .footer-column {
            display: flex;
            flex-direction: column;
            align-self: baseline;
            padding: 1em;
            text-align: left;
            margin: 5% 0
        }

        .follow-us {
            ul {
                display: flex;
            }

            li {
                padding: 0.6em;
            }

            li:first-child {
                padding-left: 0;
            }
            li:hover {
                opacity: 75%;
                transition: 0.5s;
            }
        }

    }

    ul {
        padding: 0;
        margin: 0;
        padding-left: 0;
     }

     li {
        padding: 0.6em;
        padding-left: 0;
    }
}


.right-slideout-cart {
    position: fixed;
    width: 40%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 10000;
    padding: 1em;
    display: none;
    flex-direction: column;
    align-content: stretch;
        


    
    
    background-color:#df9e3e;

    .slideout-header {
        display: flex;
        justify-content: space-between;
        padding: 0 2em;


    }

    .slideout-cart-placeholder {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

.left-products-menu{
    position: fixed;
    width: 40%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    display: none;
        
    background-color:#df9e3e;

    .slideout-header {
        display: flex;
        justify-content: space-between;
        padding: 0 2em;
        margin: 2em 0;
        
        h2 {
            margin: 0
        }



    }

    ul {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        padding: 2em;
    }

    li {
        padding: 0.8em;
        padding-left: 0;
        font-size: 1.5em;
    }
    

}

.hero-section-background {
    grid-row: 1 / 3;
    grid-column: 1 /13;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    object-fit: cover;
}


.hero-section-background-mobile {
    grid-row: 1 / 3;
    grid-column: 1 /13;
    width: 100%;
    height: 100vh;
    z-index: -1001;
    object-fit: cover;
}

.primary-cta {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 0.8em;
    padding: 1.2em 2.5em;
    margin: 1em 0;
    border-radius: 4em;
    word-spacing: 0.5em;
    letter-spacing: 0.01em;
  
}


h1 {
    font-size: 3.5em;
    letter-spacing: 0.01em;

}

h2 {
    font-size: 2em;
}


ul {
    list-style-type: none;
}



a {
    position: relative;
    text-decoration: none;
    color: var(--secondary-color);
}
  
.link-underline:hover {
    color: #000;
  }
  
.link-underline::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }
  
.link-underline:hover::before {
    transform: scaleX(1);
  }



.primary-cta:hover, .primary-cta:active {
    opacity: 75%;
    transition: 0.5s;
}


.clickable:hover, .clickable:active {
    opacity: 75%;
    transition: 0.5s;
}


@media only screen and (max-width: 1250px) {


    .testimonials-section {
        .container {
            .container {
                ul {
                 flex-direction: column;
                 li:first-child {
                    margin-bottom: 2em;
                 }
                }
        }
    }
}
}


@media only screen and (max-width: 960px) {


.hero-section-background {
    object-position: -500px 0;
}
}


@media only screen and (max-width: 875px) {


    .hero-section-background {
        object-position: -550px 0;
    }
    }


@media only screen and (max-width: 820px) {

    .navbar {

        .desktop-nav {
            display: none;
        }

        .mobile-nav{
            display: flex;
        }
    }

    .left-products-menu{
        width: 100%;
        }

    .right-slideout-cart {
        width: 100%;
        }

    .hero-section-background {
        display: none;
        
    }

    .hero-section {
        grid-column: 1 / 13;
        grid-row: 2 / 2;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        
    
        .container {
            grid-column: 2 / 12;
            align-self: center;
        }
    
    }

    .testimonials-section {
        .container {

            h1 {
                text-align: center;
            }

        .container {
            max-width: 100vw;
            overflow: hidden;

            }
    }    
}

    .contact-section {
        .container {
            grid-column: 3 / 11;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em 0;


            .footer-column {
                margin: 0
            }
        }

        
    }

    body {
        grid-template-rows: [header] 70px auto 1000px auto ;
    }

    }